*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}

.sub-title {
    color: white;
    font-weight: normal;
    padding-top: 5vh;
    text-align: center;
    padding-bottom: 60px;
    width: 100%;
    font-size: 30px;
}
/*-----------Home Page-------------*/
#home{
    width: 100%;
    height: 100vh;
    background-color: #05282E;
}
.navigation-bar {
position: fixed;
top: 0;
padding: 10px;
background-color: #05282E;
width: 100%;
display: flex; /* Use flexbox layout */
justify-content: flex-end; /* Align items to the right */
}

.navigation-bar ul {
list-style-type: none;
margin: 0;
padding: 0;
}

.navigation-bar li {
margin-left: 10px;
display: inline-block;
}

.navigation-bar a {
color: white;
text-decoration: none;
font-weight: 300;
}
.navigation-bar a:hover {
    color: #00F6FF;
}

.hometext{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hometext h1{
    font-size: 54px;
    color: #00F6FF;
    font-weight: 500;
    margin-top: 30vh;
}
.hometext p{
    font-size: 20px;
    color: white;
    line-height: 30px;
    margin-top: 30px;
    text-align: center;
    width: 500px;
    font-weight: 100;
}
/*-----------About Me-------------*/
#about{
    width: 100%;
    height: auto;
    background-color: #0D3035;
}
.aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    padding-bottom: 10vh;
    margin-left: 40px;
}
.aboutme img{
    border-radius: 15px;
    height: 30vh;
    width: 30vh;
    margin: auto;
}
.aboutme p{
    color: white;
    padding: 20px;
    font-size: 16px;
    line-height: 30px;
    background-color: #05282E;
    border-radius: 15px;
    margin-top: 20px;
    text-align: center;
}

.aboutme h2{
    color: #68E2E4;
    font-size: 20px;
    padding: 15px;
    background-color: #081a1d;
    border-radius: 15px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 30px;
}
.languages{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    flex-wrap: wrap;
    margin-bottom: 23vh;
}
.aboutme h3{
    font-weight: 300;
    padding: 10px;
    color:#00F6FF;
    background-color: #184C55;
    font-size: 20px;
    margin: 10px 10px 20px 10px;
    text-align: center;
    width: 120px;
}
/*------------Portfolio---------*/
#portfolio{
    width: 100%;
    height: auto;
    background-color: #05282E;
}
.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 100px;
}
.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.project-list div {
    background-color: #184C55;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    color: white;
}

.project-list div i {
    font-size: 30px;
    margin-bottom: 30px;
}
.project-list div h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.project-list div p {
    font-size: 16px;
    line-height: 20px;
}
.project-list div a {
    text-decoration: none;
    color: white;
    background-color: #081a1d;
    padding: 10px 20px;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 10px;
}
.project-list div:hover {
    background-color: #2c7784;
}
.btn {
    text-align: center;
    padding: 10px 20px;
    background-color: white;
    color:#081a1d;
    font-size: 16px;
    margin-top: 75px;
    margin-bottom: 30px;
    text-decoration: none;

}
/*-------------Contact Page------------*/
#contact{
    width: 100%;
    height: auto;
    background-color: #0D3035;
    overflow: hidden;
}
.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.contact-header {
    text-align: center;
    margin-bottom: 20px;
}
.contact-header p {
    color: white;
    margin-bottom: 50px;
}
.contact-form {
    background-color: #184C55;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.form-group {
    margin-bottom: 35px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: 300;
    color: white;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
textarea {
    resize: none;
}
.form-group:last-child {
    text-align: right; 
    margin-bottom: 15px;
}
input[type="submit"] {
    background-color: #011417;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/*------------Footer-------------*/
.footer {
    background-color: #011417;
    text-align: center;
    align-items: center;
    height: auto;
    padding: 10px 0;
}
.footer-content i {
    align-items: center;
    background-color: white;
    color: #081a1d;
    border-radius: 50%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-top: 25px;
}
.copyright p {
    color: white;
    font-size: 12px;
    margin-bottom: 15px;
}
.navigation-bar .fas{
    display: none;
}
@media only screen and (max-width: 1000px) {
    /* TODO */
    .content {
        flex-direction: column;
        text-align: center;
    }
    .project-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 30px;
    }
}

@media only screen and (max-width: 800px) {
    .project-list {
        grid-template-columns: 1fr; /* Change to 1 column */
        grid-template-rows: repeat(3, 1fr); /* Create 3 rows */
        grid-gap: 30px;
    }
}

@media only screen and (max-width: 660px) {
    .hometext h1{
        font-size: 35px;
        text-align: center;
    }
    .hometext p{
        font-size: 16px;
        width: 100%;
    }
    .content {
        width: 80%;
        padding-right: 20px;
    }
    .navigation-bar .fas{
        display: block;
        font-size: 20px;
        color: white;
    }
    .navigation-bar ul {
        background-color: #184C55;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
    }
    .navigation-bar ul li{
        display: block;
        margin: 25px;
    }
    .navigation-bar ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
}
